<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/css/error.css">
    <title>500 Error :(</title>
  </head>
  <body>
    <div>
      <h2> Internal Server Error - Something went wrong </h2>
      {% if flash %}
      <p>
        {{ flash }}
      </p>
      {% endif %}
    </div>
  </body>
</html>
