<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json"> -->
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"> -->
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
  </head>
  <body>
    <!-- <noscript> -->
    <!--   You need to enable JavaScript to run this app. -->
    <!-- </noscript> -->
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Menu</h2>
      <a href="#" >&#128480; Dashboard</a>
      <a href="#" >Events</a>
      <a href="#" >Sessions</a>
      <a href="/logout" id="logout">Logout</a>
    </div>
    <div id="root">
      <div id="sport-count-section">
      <a href="#">
        <div class="sport-count">
          <h1>Formula 1</h1>
          <h2>22 Events</h2>
          <h3>110 Sessions</h3>
        </div>
      </a>
      <a href="#">
        <div class="sport-count">
          <h1>Indycar</h1>
          <h2>17 Events</h2>
          <h3>80 Sessions</h3>
        </div>
      </a>
      <a href="#">
        <div class="sport-count">
          <h1>Indycar</h1>
          <h2>17 Events</h2>
          <h3>80 Sessions</h3>
        </div>
      </a>
    </div>
      </div>
  </body>
</html>

