<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/new_event_modal.css">
    <title>MJ Admin</title>
  </head>
  <body>

    {% include "includes/inc_header" %}

    <div class="content">
      <div class="section-box">
        <b> Actions </b>
        <div class="actions">
          <button id='create-event' class="new-event"> + New </button>
          <a href='/events' class="list-events"> View </a>
        </div>
      </div>

      <div class="section-box" id="sport-count-section">
        <b> Overview </b>
        <div id="sport-count-container">
        {% for sport_info in sport_info_list %}
        <a href="/events?sport_type={{ sport_info.name }}">
          {% set sport_class = sport_info.name | escape | lower | replace(from=" ", to="_") %}
          <div class="sport-count {{ sport_class }}_sport">
            <h1>{{ sport_info.name | escape }}</h1>
            <span>
            <h2>{{ sport_info.event_count }} Events</h2>
            <h3>{{sport_info.session_count }} Sessions</h3>
            </span>
          </div>
        </a>
        {% endfor %}
        </div>
      </div>

      {% include "includes/inc_new_event_modal" %}

    <script src="/js/new_event_modal.js"></script> 
  </body>
</html>