<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <script src="/js/event.js"></script> 
    <link rel="stylesheet" href="/css/event.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>MJ Admin</title>
  </head>
  <body>
    <!-- include header include -->
    {% include "inc_header" %}

    <!-- include sidebar include -->
    {% include "inc_sidebar" %}

    {% if flash %}
    <h1> {{ flash }} </h1>
    {% endif %}

    <div id="root">
      <form method="post" action="/events/{{ event.id }}">
        <h1> Event: </h1>
        <div class="event-box">
          <h3> Event ID: {{ event.id }}</h3>
          <h5> Sport Type: <input id="event_sport" type="text" name="sport" value="{{ event.sport }}"> </h5>
          <h5> Round: <input id="event_round" type="text" name="round" value="{{ event.round }}"> </h5>
          <h5> Country: <input id="event_country" type="text" name="country" value="{{ event.country }}"> </h5>
          <h5> Location: <input id="event_location" type="text" name="location" value="{{ event.location }}"> </h5>
        </div>
        <input type="submit" value="Update Event" class="update-event-button">
      </form>

      <a href="/events/{{ event.id }}/create_session">Create Session</a>
      <table class="sessions-table">
        <tr>
          <th> ID </th>
          <th> Name </th>
          <th> Time </th>
          <th> Edit </th>
          <th> Delete </th>
        </tr>
        {% for session in event.sessions %}
        <tr>
          <td> {{ session.id }} </td>
          <td> {{ session.name }} </td>
          <td> {{ session.time }} </td>
          <td> <a href="/events/{{ event.id }}/sessions/{{ session.id }}">✎</a> </td>
          <td> <a>✖</a> </td>
        </tr>
        {% endfor %}
      </table>
      <a href="/events/{{ event.id }}/create_session">Create Session</a>
    </div>
  </body>
</html>
