    {# This template require the following variables to be defined in the 
       context:
       - username: String #}
    <header class="header top">
      <span>
        <h1>Mickjohn.com Admin Pages</h1>
        <span class="header-right">
          <h4>Welcome {{ username }}</h4>
          <a href="/logout">Logout</a>
        </span>
      </span>
    </header>
    <div class="push"></div>
