<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Mickjohn - login</title>
  </head>
  <body>
    <div id="form-container">
      <h2>mickjohn.com admin</h2>
      <form id="form-login" action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <br/>
      <input type="password" name="password" placeholder="password">
      <br/>
      <input id="submit" type="submit" value="login">
      </form>
      {% if flash %}
      <p>
        {{ flash }}
      </p>
      {% endif %}
    </div>
  </body>
</html>