<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <script src="/js/event.js"></script> 
    <link rel="stylesheet" href="/css/event.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>MJ Admin</title>
  </head>
  <body>
    <!-- include header include -->
    {% include "inc_header" %}

    <!-- include sidebar include -->
    {% include "inc_sidebar" %}

    {% if flash %}
    <h1> {{ flash }} </h1>
    {% endif %}

    <div id="root">
      <form method="post" action="/events">
        <h1> Event: </h1>
        <div class="event-box">
          <h5> Sport Type: <input id="event_sport" type="text" name="sport"> </h5>
          <h5> Title: <input id="event_title" type="text" name="title"> </h5>
          <h5> Country: <input id="event_country" type="text" name="country"> </h5>
          <h5> Location: <input id="event_location" type="text" name="location"> </h5>
          <h5> Track: <input id="event_track" type="text" name="track"> </h5>
        </div>
        <input type="submit" value="Create Event" class="update-event-button">
      </form>
    </div>
  </body>
</html>
