<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/css/event.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>MJ Admin</title>
  </head>
  <body>
    <!-- include header include -->
    {% include "inc_header" %}

    <!-- include sidebar include -->
    {% include "inc_sidebar" %}

    <div id="root">
      <form>
        Session ID: {{ session.id }} </br>
        Session Name: <input type="text" name="name" value="{{ session.name }}"> </br>
        Session Date: <input type="text" name="date" value="{{ session.date }}"> </br>
        Session Time: <input type="text" name="time" value="{{ session.time }}"> </br>
        <input type="submit" value="Update">
      </form>
    </div>
    </div>
  </body>
</html>
