body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #34495e;
    padding: 10px 5px 10px 5px;
}

header a,span {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* Sport Colours */

.formula_1_sport {
    background-color: #f7a6a6;
}

.indycar_sport {
    background-color: #b7bff7;
}

.gp2_sport {
    background-color: #a7dff5;
}

.formula_2_sport {
    background-color: #a7dff5;
}

.formula_3_sport {
    background-color: #ffff94;
}


/* End Sport Colours */