body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #3c8dbc;
    padding: 10px 5px 10px 5px;
}

header a,span {
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 18px;
    color: white;
}

/* Sport Colours */

.formula_1_sport {
    background-color: #cb3939;
}

.indycar_sport {
    background-color: #7b8dfc;
}

.gp2_sport {
    background-color: #70d7ff;
}

.formula_2_sport {
    background-color: #46b0da;
}

.formula_3_sport {
    background-color: #bfbf3f;
}


/* End Sport Colours */