/********/
/* BODY */
/********/

body {
  margin: 0;
  background-color: #ecf0f5;
  color: #bebebe;
}

.content {
  margin: 0 auto;
  max-width: 70em;
}

/************/
/* END BODY */
/************/

/***********/
/* ACTIONS */
/***********/

.actions {
  display: flex;
  justify-content: space-between;
  /* padding: 2em; */
  padding: 10px 28px;
}

.actions a, button {
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  border-style: none;
  width: 4.5em;
}

.actions a {
  padding: 0.1em 0.3em;
}

.actions button {
  padding: 0.1em 0.3em;
  padding-top: 0;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .actions a, button {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 700px) {
  .actions a, button {
    font-size: 1.5em;
  }
}

.new-event {
  background-color: #539c54;
}

.list-events {
  background-color: #32b6ea;
}

.new-event:hover {
  background-color: #669c67;
}

.list-events:hover {
  background-color: #68749e;
}

/****************/
/*  END ACTIONS */
/****************/

/*****************/
/* Section Boxes */
/*****************/

.section-box {
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #3c8dbc;
  background-color: #fff;
  margin: 2em 1em;
}

.section-box b {
  color: #514e4e;
  font-size: 20px;
  padding-left: 28px;
}

/*********************/
/* End Section Boxes */
/*********************/

/*********************/
/* Sport Count boxes */
/*********************/

/* Small screen */
@media only screen and (max-width: 700px) {
  .sport-count {
    display: inline-block;
    margin: 0.6em;
    color: #fcfcfc;
    background-color: rgb(121, 121, 121);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 8em;
    /* border-top: 3px solid grey; */
  }
  .sport-count h1, h2, h3 {
    margin: 0;
    padding: 0.3em;
    font-size: 0.8em;
  }
}

/* Large screen */
@media only screen and (min-width: 700px) {
  .sport-count {
    display: inline-block;
    margin: 0.8em;
    color: #fcfcfc;
    background-color: rgb(121, 121, 121);
    text-align: center;
    width: 20em;
  }
  .sport-count:hover {
    box-shadow: none;
  }
}

#sport-count-section a, u {
  text-decoration: none;
}

#sport-count-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.sport-count h1, h2, h3 {
  margin: 0;
  padding: 0.3em;
}

/*********************/
/* Sport Count boxes */
/*********************/