body {
  margin: 0 auto;
  max-width: 70em;
  background-color: #e4e4e4;
  color: #bebebe;
}

header {
  text-align: center;
}

.heading {
  color: #484848;
  text-align: center;
}

.actions a, button {
  color: #484848;
  text-decoration: none;
  padding: 0.3em 0.5em;
  font-weight: bold;
  border-radius: 10em;
  border-style: solid;
  border-width: 3px;
}

@media only screen and (max-width: 700px) {
  .actions a, button {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 700px) {
  .actions a, button {
    font-size: 2em;
  }
}

.new-event {
  border-color: #539c54;
}

.list-events {
  border-color: #53649c;
}

.logout {
  border-color: #9c5353;
  float: right;
}

.new-event:hover {
  background-color: #539c54;
}

.list-events:hover {
  background-color: #53649c;
}

.logout:hover {
  background-color: #9c5353;
}

/* Sport Counts */

/* Sport Counts - Small screen */

@media only screen and (max-width: 700px) {
  .sport-count {
    display: inline-block;
    margin: 0.6em;
    color: #484848;
    background-color: #fff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 8em;
    border-top: 3px solid grey;
  }
  .sport-count h1, h2, h3 {
    margin: 0;
    padding: 0.3em;
    font-size: 0.8em;
  }
}

/* Sport Counts - Large screen */

@media only screen and (min-width: 700px) {
  .sport-count {
    display: inline-block;
    margin: 0.8em;
    color: #484848;
    background-color: #fff;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 20em;
    border-top: 3px solid grey;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(125, 125, 125, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(125, 125, 125, 1);
    box-shadow: 3px 3px 5px 0px rgba(125, 125, 125, 1);
  }
  .sport-count:hover {
    box-shadow: none;
  }
}

#sport-count-section a, u {
  text-decoration: none;
}

.sport-count h1, h2, h3 {
  margin: 0;
  padding: 0.3em;
}

/* End sport counts */

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 360px;
}

.close {
  background-color: #924141;
}

/* New Event */

/* TODO - On a small screen make the font small, so that the entire 'new event' modal can fit on the page*/

.modal input[type=text] {
  width: 100%;
  padding: 3px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d8cbcb;
  border-radius: 4px;
  width: 12em;
  color: #484848;
}

/* Buttons */

.modal input[type=submit], .modal button {
  color: #fff;
  margin: 1em;
  padding: 1em;
  border: 2px;
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {

  .modal-content {
    width: 15em;
  }

  .event-form {
    width: 12em;
  }

  h1 {
    font-size: 1.2em;
  }

  td {
    font-size: 0.8em;
  }

  .modal input[type=text] {
    font-size: 0.8em;
  }

  /* Buttons */
  .modal input[type=submit], .modal button {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 700px) {
  .modal input[type=text] {
    font-size: 16px;
  }

  /* Buttons */
  .modal input[type=submit], .modal button {
    font-size: 18px;
  }
}

.update-event-button {
  background-color: #4368a8;
}

/* End Buttons */

/* Event Box */

.event-form {
  border: 2px solid #d1cfcf;
  background-color: white;
  display: block;
  text-align: center;
  color: #484848;
  margin: 1em auto;
  padding: 0.5em 1em 0.5em 1em;
}

@media only screen and (max-width: 700px) {
  .event-form {
    width: 12em;
  }
}

@media only screen and (min-width: 700px) {
  .event-form {
    width: 20em;
  }
}