body {
  font-family: sans-serif;
  background-color: #e1e1e1;
}

#form-container {
  margin:auto;
  max-width: 500px;
  vertical-align: middle;
  height: 200px;
  background-color: #303030;
  color: #c3a689;
  padding: 2em;
}

#form-container h2 {
  text-align: center;
}

#form-login {
  vertical-align: middle;
  margin:auto;
  max-width: 300px;
}

#form-login input {
  border: none;
  float: right;
}

#submit {
  width: 100%;
  background-color: #87d787;
  height: 2em;
}
