/* Sidebar */
.sidebar {
  height: 100%;
  width: 17em;
  background-color: #303030;
  overflow: auto;
  position: fixed;
  display: block;
  color: #c3a689;
}

.sidebar h2 {
  margin: 1em;
}

.sidebar a {
  color: #87d787;
  padding-left: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
}

.sidebar a:hover {
  background-color: #484848;
}

.sidebar-logout {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
}
/* End sidebar */
